        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'fichePatient.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'fichePatient.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'fichePatient.ref' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'fichePatient.ref' | translate}}" id="1" [(ngModel)]="item.ref"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validFichePatientRef}"  />
                                                    <small class='p-error' *ngIf='!validFichePatientRef'>Ref est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'fichePatient.dateFichePatient' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'fichePatient.dateFichePatient' | translate}}"  [(ngModel)]="item.dateFichePatient"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>

                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'fichePatient.antecedentFamillial' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'fichePatient.antecedentFamillial' | translate}}" id="3" [(ngModel)]="item.antecedentFamillial"
                                                             />

                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'fichePatient.histoireMaladie' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'fichePatient.histoireMaladie' | translate}}" id="4" [(ngModel)]="item.histoireMaladie"
                                                             />

                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'fichePatient.examenFichePatient' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'fichePatient.examenFichePatient' | translate}}" id="5" [(ngModel)]="item.examenFichePatient"
                                                             />

                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'fichePatient.conclusionFichePatient' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'fichePatient.conclusionFichePatient' | translate}}" id="6" [(ngModel)]="item.conclusionFichePatient"
                                                             />

                                                </div>



                                            <div class="field col-11 md:col-6">
                                                <label for="7">{{'fichePatient.antecedent' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="antecedents" [(ngModel)]="item.antecedent" id="7" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'fichePatient.antecedent' | translate}}"  >
                                                </p-dropdown>

                                            </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="8">{{'fichePatient.consultation' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="consultations" [(ngModel)]="item.consultation" id="8" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="ref" placeholder="{{'fichePatient.consultation' | translate}}"  >
                                                </p-dropdown>

                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
