    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'ordonnance.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'ordonnance.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'ordonnance.ref' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'ordonnance.ref' | translate}}" id="1" [(ngModel)]="item.ref"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validOrdonnanceRef}"  />
                                            <small class='p-error' *ngIf='!validOrdonnanceRef'>Ref est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'ordonnance.nomHospital' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'ordonnance.nomHospital' | translate}}" id="2" [(ngModel)]="item.nomHospital"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'ordonnance.dateOrdonnance' | translate}}</label>
                                            <p-calendar appendTo="body" id="3"  [showTime]="true" [showSeconds]="false" placeholder="{{'ordonnance.dateOrdonnance' | translate}}"  [(ngModel)]="item.dateOrdonnance"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'ordonnance.adresseHospitla' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'ordonnance.adresseHospitla' | translate}}" id="4" [(ngModel)]="item.adresseHospitla"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'ordonnance.signature' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'ordonnance.signature' | translate}}" id="5" [(ngModel)]="item.signature"
                                                    />
                                            
                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="6">{{'ordonnance.traitement' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="traitements" [(ngModel)]="item.traitement" id="6" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="ref" placeholder="{{'ordonnance.traitement' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="7">{{'ordonnance.consultatuin' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="consultatuins" [(ngModel)]="item.consultatuin" id="7" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="ref" placeholder="{{'ordonnance.consultatuin' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
