.card{
    background-color:#fcefee;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    margin-right: 10px;
}

.table{
    width:100%;
}

.layout-wrapper {
    padding: 0;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    background: url("src/assets/layout/images/cc.jpg") no-repeat;
    background-size: cover;
}
