        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'syntheseMedicale.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'syntheseMedicale.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'syntheseMedicale.ref' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'syntheseMedicale.ref' | translate}}" id="1" [(ngModel)]="item.ref"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validSyntheseMedicaleRef}"  />
                                                    <small class='p-error' *ngIf='!validSyntheseMedicaleRef'>Ref est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'syntheseMedicale.dateSyntheseMedicale' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'syntheseMedicale.dateSyntheseMedicale' | translate}}"  [(ngModel)]="item.dateSyntheseMedicale"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'syntheseMedicale.description' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'syntheseMedicale.description' | translate}}" id="3" [(ngModel)]="item.description"
                                                             />
                                                    
                                                </div>



                                            <div class="field col-11 md:col-6">
                                                <label for="4">{{'syntheseMedicale.consultation' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="consultations" [(ngModel)]="item.consultation" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="ref" placeholder="{{'syntheseMedicale.consultation' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
