@import "node_modules/bootstrap/dist/css/bootstrap.css";

tr:nth-of-type(6n+1),
tr:nth-of-type(6n+2) {
    background-color: #f4f4f4; /* Set the desired color for odd rows */
}

tr:nth-of-type(6n+3),
tr:nth-of-type(6n+4) {
    background-color: #e9e6e6; /* Set the desired color for odd rows */
}

tr:nth-of-type(6n+5),
tr:nth-of-type(6n+6) {
    background-color: #bbb9b9; /* Set the desired color for odd rows */
}


