
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'radiologie.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'radiologie.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'radiologie.ref' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'radiologie.ref' | translate}}" autofocus  id="1" [ngModel]="item.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'radiologie.dateRadiologie' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'radiologie.dateRadiologie' | translate}}"  [ngModel]="item.dateRadiologie" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'radiologie.commentaire' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'radiologie.commentaire' | translate}}" autofocus  id="3" [ngModel]="item.commentaire">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'radiologie.imageScann' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'radiologie.imageScann' | translate}}" autofocus  id="4" [ngModel]="item.imageScann">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'radiologie.consultatuin' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'radiologie.consultatuin' | translate}}" autofocus  id="5" [ngModel]="item.consultationDto?.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'radiologie.typeImage' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'radiologie.typeImage' | translate}}" autofocus  id="6" [ngModel]="item.typeImage?.ref">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



