        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'medecin.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'medecin.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'medecin.ref' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'medecin.ref' | translate}}" id="1" [(ngModel)]="item.ref"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validMedecinRef}"  />
                                                    <small class='p-error' *ngIf='!validMedecinRef'>Ref est obligatoire.</small>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'medecin.email' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'medecin.email' | translate}}" id="2" [(ngModel)]="item.email"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validMedecinEmail}"  />
                                                    <small class='p-error' *ngIf='!validMedecinEmail'>Email est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'medecin.nom' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'medecin.nom' | translate}}" id="3" [(ngModel)]="item.nom"
                                                             />

                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'medecin.prenom' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'medecin.prenom' | translate}}" id="4" [(ngModel)]="item.prenom"
                                                             />

                                                </div>

                                                 <div class="field col-12 md:col-6">
                                                     <label for="15">{{'medecin.username' | translate}}</label>
                                                     <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'medecin.username' | translate}}" id="15" [(ngModel)]="item.username"
                                                         />

                                    </div>



                                    <div class="field col-12 md:col-6">
                                        <label for="16">{{'medecin.password' | translate}}</label>
                                        <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'medecin.password' | translate}}" id="16" [(ngModel)]="item.password"
                                        />

                                    </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'medecin.dateNaissance' | translate}}</label>
                                                    <p-calendar appendTo="body" id="5"   [showTime]="false" [showSeconds]="false" placeholder="{{'medecin.dateNaissance' | translate}}"  [(ngModel)]="item.dateNaissance"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>

                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'medecin.telephone' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'medecin.telephone' | translate}}" id="6" [(ngModel)]="item.telephone"
                                                             />

                                                </div>

                                              <div class="field col-12 md:col-6">
                                                    <label>{{'medecin.speciality' | translate}}</label>
                                                    <p-dropdown [options]="typeConsultation" [(ngModel)]="item.speciality" placeholder="Select a Type" [showClear]="true"></p-dropdown>
                                                </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="9">{{'medecin.sexe' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="sexes" [(ngModel)]="item.sexe" id="9" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'medecin.sexe' | translate}}"  >
                                        </p-dropdown>

                                    </div>
                                </div>
                            </p-tabPanel>
                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
